* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container-login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 300px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 15px rgba(200, 200, 200);
}

#usuario, #senha, #entrar-button{
    width: 100%;
}

#novo-inicio {
    display: inline-flex;
    justify-content: space-between;
}

#novo-usuario, #pagina-inicial {
    width: 100px;
    text-align: center;
}

#usuario, #senha {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}

#usuario::placeholder, #senha::placeholder {
    color: rgba(150, 150, 150);
    font-style: italic;
}
#entrar-button, #pagina-inicial, #novo-usuario {
    padding: 10px 20px;
    font-size: 1rem;
    background: linear-gradient(rgba(15, 125, 195, 1) 0%, rgba(5, 50, 125, 1) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

#entrar-button:hover, #novo-usuario:hover, #pagina-inicial:hover {
    background: linear-gradient(rgba(105, 185, 30, 1) 0%, rgb(45, 115, 15) 100%);
}

#usuario, #senha, #entrar-button {
    margin-bottom: 25px;
}