#container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

hr{
    background-color: blue;
}

#container-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    height: 400px;
    width: 300px;
    background-color: rgba(240, 248, 255, 0.473);
    border: 1px solid #ccc;
}