@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: italic;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 15px 15px rgba(200, 200, 200);
    padding: 40px 30px;
}

#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    flex-direction: column;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 10px;
}

::placeholder {
    color: rgb(128, 128, 128);
    opacity: 1;
}

a {
    text-decoration: none;
}

.mensagem {
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.mensagem.erro {
    color: rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border: 1px solid rgb(245, 198, 203);
}

.mensagem.sucesso {
    color: rgb(21, 87, 36);
    background-color: rgb(212, 237, 218);
    border: 1px solid rgb(195, 230, 203);
}


button,
a.botoes-agrupados {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 19px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(15, 125, 195, 1) 0%,
            rgba(5, 50, 125, 1) 100%);
}

/* container para botões lado a lado */
div.botoes-grupo {
    display: flex;
    gap: 16px;
}

.botoes-agrupados {
    flex: 1;
    width: 100%;
    text-align: center;
}

/* hover para ambos */
button:hover,
a.botoes-agrupados:hover {
    background: linear-gradient(rgba(105, 185, 30, 1) 0%,
            rgb(45, 115, 15) 100%);
}

button {
    max-width: 200px;
}

input {
    max-width: 200px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    width: 100%;
}

#container-login,
#novo-usuario-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 30px;
    border-radius: 5px;
}

h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 6px;
}

.new,
.person {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2.4rem;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.new {
    color: rgb(16, 125, 194);
    background-image: linear-gradient(rgb(16, 125, 194), rgb(5, 49, 125) 100%);
}

.person {
    color: rgb(105, 185, 30);
    background-image: linear-gradient(rgb(105, 185, 30), rgb(45, 115, 15) 100%);
}

.mensagem-sucesso {
    color: rgb(21, 87, 36);
    background-color: rgb(212, 237, 218);
    border: 1px solid rgb(195, 230, 203);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.mensagem-erro {
    color: rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border: 1px solid rgb(245, 198, 203);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.novo-usuario-input {
    display: flex;
    gap: 15px;
    /* espaço entre os inputs */
    width: 100%;
}

.novo-usuario-input label {
    display: flex;
    flex-direction: column;
    /* label em cima, input embaixo */
    width: 100%;
}

.novo-usuario-input input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

#cliente-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#cliente-busca {
    max-width: 442px;
}

#cliente-card {
    padding: 15px;
    width: 500px;
    height: 250px;
    box-shadow: 0px 0px 15px 15px rgba(200, 200, 200);
}

.cliente-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-editar {
    color: rgb(175, 175, 175);
    background: none;
    padding: 0px;
    margin: 0px;
}

#cliente-editar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.inputs-modo-editar {
    padding: 5px;
    max-width: 235px;
}

#cliente-editar button {
    grid-column: span 1;
    max-width: 235px;
    padding: 5px;
}

.cliente-item h3 {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 1.3rem;
}

.cliente-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1rem;
}

.linha-consumo {
    display: flex;
    gap: 10px;
}

.etiqueta {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    color: white;
}

.baixo {
    background-color: rgb(175, 175, 175);
}

.medio {
    background-color: rgb(16, 125, 194);
}

.alto {
    background-color: rgb(105, 185, 30);
}

.info-titulo {
    margin-bottom: 5px;
}

.info-consumo,
.info-contato {
    margin-bottom: 15px;
}

.info-endereco {
    margin-bottom: 5px;
}

.botoes-nav {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

.btn-nav {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background: linear-gradient(rgba(15, 125, 195, 1) 0%,
            rgba(5, 50, 125, 1) 100%);
}

.btn-nav:hover {
    background: linear-gradient(rgba(105, 185, 30, 1) 0%,
            rgb(45, 115, 15) 100%);
}

#NovoCliente>div {
    display: flex;
    gap: 15px;
}

#NovoCliente label {
    display: flex;
    flex-direction: column;
    flex: 1;
}